@charset "UTF-8";
.segment {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
}
.divider {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}
.padding {
  padding: 20px 8px;
}
sup {
    color: #EB5E28;
    font-weight: 800;
    line-height: 1;
}

#customerInformation .card-wizard {
    /*background-color: #f4f3ef;*/
    width: 100%;
    box-shadow: none;
}

.card-wizard.card .card-footer {
    padding: 30px 15px;
}

.card .content {
    padding: 15px 15px 10px 15px;
    position: relative;
    z-index: 3;
}

.card-wizard .nav-pills {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-pills.main>li {
    float: left;
}

#customerInformation .nav-pills>li+li {
    margin-left: 0;
}

.card-wizard .nav-pills.main>li>a {
    text-align: center;
    border: none;
    background-color: #9A9A9A;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 0;
}

.card-wizard .nav-pills.main>li>a:hover, .card-wizard .nav-pills.main>li>a:focus {
    background-color: #9A9A9A;
    outline: 0 !important;
}

.nav-pills.main>li.active>a, .nav-pills.main>li.active>a:hover, .nav-pills.main>li.active>a:focus {
    background-color: #66615B;
    color: #FFFFFF;
}

.card .card-footer {
    padding: 0 15px 15px;
}

.card .card-footer .btn-finish {
    display: none;
}

.card .card-footer button {
    background-color: #66615b;
    color: #fff;
}

.has-feedback .form-control.bootstrap-select {
    padding-right: 0;
}


/*.has-feedback .bootstrap-select.btn-group .dropdown-toggle .caret {
      right: 25px;
}*/

.card-wizard.card .card-footer .btn-back {
    display: none;
}

#modalCustomerNumber, #modalAccount {
    display: none;
}

.swal2-modal .swal2-content label {
    font-size: 14px;
}

.swal2-modal .swal2-content .row {
    padding: 10px 20px;
}

.card-wizard .content>.row {
  margin-right: -5px;
  margin-left: -5px;
}
.card-wizard .content .panel .panel-body .header .pull-left {
  margin-left: 15px;
}
.card-wizard .content .panel .panel-body .header h5 {
  line-height: 1.2;
  margin-right: 5px;
  padding-left: 5px;
  border-left: 2px solid #9A9A9A;
  font-size: 15px;
  font-weight: 700;
}
.card-wizard .content .panel .panel-body .header ul li{
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: #9A9A9A;
  border-radius: 3px;
}
.card-wizard .content .panel .panel-body .header {
  /*padding-bottom: 5px;
  border-bottom: 1px solid #cfcfca;*/
}
.card-wizard .content .panel .panel-body .header ul li.active {
background-color: #66615B;
}
.card-wizard .content .panel .panel-body .header ul li a{
  color: #fff;
  padding: 7px 5px;
}
.card-wizard .content .panel .panel-body .header ul li a:hover {
  color: rgba(51, 51, 51, 1);
}
