@charset "UTF-8";
/*设置搜索框*/
.navbar-form.navbar-search-form .input-group-addon {
    background-color: #FFF;
    color: rgba(120, 120, 120, 0.7);
    border: 1px solid #787878;
    border-right: 0 none;
}

.navbar-form .form-control {
    background-color: #FFF;
    border: 1px solid rgba(120, 120, 120, 0.8);
    border-left: 0 none;
}

.navbar-form .form-control:focus {
    border: 1px solid #787878;
    border-left: 0 none;
}
/*设置小图标*/
.main-panel .navbar-default .navbar-nav>li>a {
    color: #787878;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(255, 91, 91);
}
/*设置 tab 页面 hover的颜色*/
.nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover {
    background-color: rgba(120, 120, 120, 0.8);
    /*background-color: #FFF;*/
    color: #555;
    border-radius: none;
}
/*设置交易演示颜色*/
.card-wizard .nav-pills.main>li>a:hover, .card-wizard .nav-pills.main>li>a:focus {
    background-color: #787878;
    color: #FFF;
}

.card-wizard .nav-pills.main>li>a {
    background-color: rgba(238, 238, 238, 0.5);
    color: rgba(120, 120, 120, 0.8);
}

.nav-pills.main>li.active>a, .nav-pills.main>li.active>a:hover, .nav-pills.main>li.active>a:focus {
    background-color: rgba(120, 120, 120, 0.8);
    color: #FFF;
}

.card .card-footer button {
    background-color: rgba(120, 120, 120, 0.8);
}

.card-wizard .content .panel .panel-body .header ul li.active {
    background-color: #ff4351;
}

.card-wizard .content .panel .panel-body .header ul li {
    background-color: rgba(120, 120, 120, 0.5);
}

.sidebar.mini .collapse {
    background-color: rgba(249, 246, 246, .95);
}

.sidebar.mini .collapse li:hover {
    background-color:  rgba(120, 120, 120, 0.8);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: rgba(120, 120, 120, 0.8);
}
