/*设置主题*/

.navbar-nav>li>.dropdown-menu.per {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-radius: 6px;
}

.nav.navbar-nav .theme .dropdown-menu.per {
    width: 290px;
    border-radius: 10px;
    padding: 0 10px 3px 10px;
}

.nav.navbar-nav .theme .dropdown-menu li {
    display: block;
    padding: 5px 2px;
    width: 25%;
    float: left;
}

.nav.navbar-nav .theme li.adjustments-line, .nav.navbar-nav .theme li.header-title, .nav.navbar-nav .theme li.button-container {
    width: 100%;
    height: 50px;
    min-height: inherit;
}

.nav.navbar-nav .theme li.header-title {
    height: 30px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.nav.navbar-nav .theme .dropdown-menu>li.adjustments-line>a {
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.nav.navbar-nav .theme li>a, .fixed-plugin .badge {
    transition: all .34s;
    -webkit-transition: all .34s;
    -moz-transition: all .34s;
}

.nav.navbar-nav .theme .adjustments-line p {
    float: left;
    display: inline-block;
    margin-bottom: 0;
    font-size: 1em;
}

.nav.navbar-nav .theme .adjustments-line .bootstrap-switch {
    float: right;
}

.nav.navbar-nav .theme .badge {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
}

.nav.navbar-nav .theme .badge-azure {
    background-color: #1DC7EA;
}

.nav.navbar-nav .theme .badge-green {
    background-color: #87CB16;
}

.nav.navbar-nav .theme .badge-orange {
    background-color: #FFA534;
}

.nav.navbar-nav .theme .badge-red {
    background-color: #FB404B;
}

.nav.navbar-nav .theme .badge-purple {
    background-color: #9368E9;
}

.nav.navbar-nav .theme .badge.active, .nav.navbar-nav .theme .badge:hover {
    border-color: #00bbff;
}

.nav.navbar-nav .theme li>a, .nav.navbar-nav .theme .badge {
    transition: all .34s;
    -webkit-transition: all .34s;
    -moz-transition: all .34s;
}

.nav.navbar-nav .theme .dropdown-menu>li>a.img-holder {
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    border: 3px solid #FFF;
    padding-left: 0;
    padding-right: 0;
    opacity: 1;
    cursor: pointer;
    max-height: 86px;
    overflow: hidden;
    padding: 0;
}

.nav.navbar-nav .theme .dropdown-menu>li>a.switch-trigger:hover, .nav.navbar-nav .theme .dropdown-menu>li>a.switch-trigger:focus {
    background-color: transparent;
}

.nav.navbar-nav .theme .dropdown-menu>li>a.switch-trigger.img-holder:hover, .nav.navbar-nav .theme .dropdown-menu>li>a.switch-trigger.img-holder:focus {
    background-color: transparent;
    border-color: #00bbff;
}

.nav.navbar-nav .theme .dropdown-menu>.active>a.img-holder, .nav.navbar-nav .theme .dropdown-menu>.active>a.img-holder {
    border-color: #00bbff;
    background-color: #FFFFFF;
}

.nav.navbar-nav .theme img {
    border-radius: 0;
    width: auto;
    height: 100px;
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
    margin: 0 auto;
}

.nav.navbar-nav .theme .dropdown-menu>li>a img {
    margin-top: auto;
}

.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-image: url("../images/full-screen-image-1.jpg");
    background-size: cover;
    background-position: center center;
}

.sidebar:after, .sidebar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar:before {
    opacity: .33;
    background: #000000;
}

#minimizeSidebar::after, #minimizeSidebar::before {
    display: block;
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    top: 18px;
    left: 18px;
    z-index: 1;
}

.sidebar:after, #minimizeSidebar::after {
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.7)));
    background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background-size: 150% 150%;
    z-index: 3;
    opacity: 1;
}

.sidebar[data-image]:after, .sidebar.has-image:after {
    opacity: .95;
}

.sidebar[data-color="blue"]:after, #minimizeSidebar[data-color="blue"]:after {
    background: #447DF7;
    background: -moz-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #447DF7), color-stop(100%, rgba(83, 60, 225, 0.7)));
    background: -webkit-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
    background: -o-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
    background: -ms-linear-gradient(top, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
    background: linear-gradient(to bottom, #447DF7 0%, rgba(83, 60, 225, 0.7) 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="azure"]:after, #minimizeSidebar[data-color="azure"]:after {
    background: #23CCEF;
    background: -moz-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23CCEF), color-stop(100%, rgba(64, 145, 255, 0.7)));
    background: -webkit-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
    background: -o-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
    background: -ms-linear-gradient(top, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
    background: linear-gradient(to bottom, #23CCEF 0%, rgba(64, 145, 255, 0.7) 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="green"]:after, #minimizeSidebar[data-color="green"]:after {
    background: #87CB16;
    background: -moz-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, rgba(109, 192, 48, 0.7)));
    background: -webkit-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -o-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: -ms-linear-gradient(top, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background: linear-gradient(to bottom, #87CB16 0%, rgba(109, 192, 48, 0.7) 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="orange"]:after, #minimizeSidebar[data-color="orange"]:after {
    background: #FFA534;
    background: -moz-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA534), color-stop(100%, rgba(236, 22, 87, 0.7)));
    background: -webkit-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
    background: -o-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
    background: -ms-linear-gradient(top, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
    background: linear-gradient(to bottom, #FFA534 0%, rgba(236, 22, 87, 0.7) 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="red"]:after, #minimizeSidebar[data-color="red"]:after {
    background: #FB404B;
    background: -moz-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, rgba(187, 5, 2, 0.7)));
    background: -webkit-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: -o-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: -ms-linear-gradient(top, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background: linear-gradient(to bottom, #FB404B 0%, rgba(187, 5, 2, 0.7) 100%);
    background-size: 150% 150%;
}

.sidebar[data-color="purple"]:after, #minimizeSidebar[data-color="purple"]:after {
    background: #9368E9;
    background: -moz-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, rgba(148, 59, 234, 0.7)));
    background: -webkit-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
    background: -o-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
    background: -ms-linear-gradient(top, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
    background: linear-gradient(to bottom, #9368E9 0%, rgba(148, 59, 234, 0.7) 100%);
    background-size: 150% 150%;
}

#minimizeSidebar.hasColor {
    background-color: transparent;
}

.btn.btn-fill.hasColor:hover, .btn.btn-fill.hasColor:focus, .btn.btn-fill.hasColor:active {
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .navbar-minimize .btn.btn-fill.hasColor i {
    position: absolute;
    z-index: 5;
}
